<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>

    <link rel="stylesheet" href="{{ "css/site.css" | relURL }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.Title }} RSS" href="{{ "/index.xml" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<meta name="title" content="{{ .Title }} | {{ .Site.Title }}">
<meta name="description" content="{{ .Summary | plainify }}">

<meta property="og:type" content="website">
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta property="og:description" content="{{ .Summary | plainify }}">
<meta property="og:image" content="{{ .Site.BaseURL }}og.png">
<meta property="og:url" content="{{ .Permalink }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta name="twitter:description" content="{{ .Summary | plainify }}">
<meta name="twitter:image" content="{{ .Site.BaseURL }}og.png">
  </head>
  <body>
    <main class="wrap">
      {{ partial "header.html" . }}
      <article class="content">
        {{ block "main" . }}{{ end }}
      </article>
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
