<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>

    <link rel="stylesheet" href="{{ "css/site.css" | relURL }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.Title }} RSS" href="{{ "/index.xml" | relURL }}">
  </head>
  <body>
    <main class="wrap">
      {{ partial "header.html" . }}
      <article class="content">
        {{ block "main" . }}{{ end }}
      </article>
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
